<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recordlar</title>
</head>
<body>
    <h1>Bizda bor kitoblar</h1>
    <br>
    <form>
        <input type="text" name="qidirish" placeholder="Kitob nomi">
        <button>Qidirish</button>
    </form>
    <br>
    {%for i in recordlar%}
    <h1>{{i}}</h1>
    <h2></h2>
    <button><a href="/record/{{i.id}}/"> Ochirish </a></button>
    {%endfor%}
    <br>
    <br>
    <form method="post" action="recordlar">{% csrf_token %}
        <select name="s">
            {% for i in stu %}
            <option value="{{i.id}}">{{i.ism}}</option>
            {% endfor %}
        </select>
         <select name="k">
             {% for a in ktb%}
             <option value="{{a.id}}">{{a.nomi}}</option>
             {% endfor %}
         </select>
        <input type="date" name="sana">
        <button type="Submit">Qo'shish</button>
    </form>
    <br>
</body>
</html>