<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studentlar</title>
</head>
<body>
    <h1>Studentlar</h1>
    <br>
    <form>
        <input type="text" name="qidirish" placeholder="Student ismi">
        <button>Qidirish</button>
    </form>
    <br>
    {%for i in studentlar%}
    <h1>{{i}}</h1>
    <button><a href="/Student/{{i.id}}/" Ochirish</button>
    {%endfor%}
    <br>
    <br>
    <form method="post" action="/students/">{% csrf_token %}
        <input type="text" name="ismi" placeholder="Student ismi">
        <input type="text" name="guruhi" placeholder="Student guruhi">
        <input type="number" name="k_s" placeholder="k_soni">
        <input type="checkbox" name="b" placeholder="False">
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
</body>
</html>